* {
  margin: 0px;
  padding: 0px;
}

/* common class */

section {
  margin-top: 120px;
}

.title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.title-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}

/* banner class */
.banner-container {
  display: flex;
  justify-content: center;
  gap: 65px;
  align-items: center;
  height: 100vh;
  background-color: rgba(229, 82, 114, 0.1);
}
.banner-img {
  height: 600px;
}
.banner-desc {
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-title {
  color: #272727;
  font-size: 65px;
  font-weight: 800;
  line-height: normal;
}
.btn {
  background-color: #e55473;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 18px 40px;
}

.fa-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 30px;
}

.card {
  width: 310px;
  height: 375px;
  /* 
background-image: url("images/pngwing 6.png") ;
background-repeat: no-repeat; */
  border-radius: 150px 150px 0px 0px;
  /* background-color: rgba(167, 33, 98, 0.15); */
}
.backco1{
    background-color: rgba(167, 33, 98, 0.15);

}
.backco2{
  background-color: rgba(5, 151, 160, 0.15);

}
.backco3{
    background-color: rgba(71, 125, 17, 0.15);

}

.card img {
  /* width: 100%;
  height: 100%; */
  padding: 10px;
  height: 320px;
  margin-top: 40px;
}
.card h3 {
  margin-top: 10px;
  text-align: center;
}

/* Hot deal  */
.deal-main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
}
.deal-main-container h1 {
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.deal-main-container p {
  width: 550px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pink {
  color: #e55473;
}
.so-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.so-img img {
  width: 280px;
  height: 300px;
}

/* banner-2  */
.banner-2 {
  background-image: url("images/Rectangle\ 9.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 300px;
  margin-left: 80px;
  margin-right: 80px;
}
#d5 {
  padding-top: 70px;
}
.search-input {
  width: 700px;
  height: 32px;
  margin-top: 30px;
  background: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 110px;
  border-radius: 5px;
  margin-right: 5px;
}

/* footer  */
.footer {
  background-color: black;
  color: white;
  text-align: center;
}
#ftitle {
  padding-top: 120px;
  padding-bottom: 10px;
  color: white;
}
.fdesc {
  height: 50px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
#fcopy {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 120px;
  margin-top: 10px;
}

/* support-css */
.support-main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 120px 180px;

  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
}
.sp-item {
  padding: 15px;
}
.sp-item h6 {
  color: rgba(39, 39, 39, 0.8);
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
}

/* nav css */
.navber-contaner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: linear-gradient(to right,#a096981a,#1111111a); */
  background-color: #76858aab;
  padding: 5px;
}

.nav-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-menu ul li {
  margin-left: 50px;
}
.nav-menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.nav-menu ul li a:hover {
    
    text-decoration: underline;
    
}

.nav-title {
  font-size: 38px;
  font-weight: 700;
}
.form-container{
    text-align: center;
}
.form-class label input{
    width: 700px;
  height: 32px;
  margin-bottom: 10px;
  background: #fff;
  border: none;
  padding: 15px;
  border-radius: 15px;
  margin-right: 5px;
  border: 1px solid powderblue;
  outline: none;


}
.form-class label textarea{
    width: 670px;
  border: 1px solid powderblue;
    outline: none;
  height: 250px;
  padding: 18px;
  border-radius: 15px;

}
.form-section{
  background-color: rgba(109, 101, 103, 0.1);
  border-radius: 10px 250px 10px ;
  margin: 80px;
}
.form-section label{
    font-size: 18px;
    font-weight: 400;
}
.btn-form{
    margin-bottom: 20px;
    margin-top: 10px;
}
#f-title{
    padding: 40px;
}